@import "tailwindcss";

@theme {
  /* Paleta de colores para SmartHealth */
  --color-brand-primary: #0052cc;
  --color-brand-hover: #0041a3;
  --color-brand-dark: #0a192f;
  --color-bg-light: #f8fafc;
  
  /* Colores para estados clínicos y alertas */
  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;
  --color-status-danger: #ef4444;
  --color-status-info: #06b6d4;

  --font-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Estilos para el botones */
@utility btn-base {
  @apply font-medium px-5 py-2.5 rounded-lg transition-colors duration-200 shadow-sm inline-flex items-center justify-center cursor-pointer text-sm;
}
@utility btn-primary {
  @apply bg-[--color-brand-primary] hover:bg-[--color-brand-hover] text-white;
}
@utility btn-secondary {
  @apply bg-white hover:bg-slate-100 text-slate-700 border border-slate-200;
}
@utility btn-danger {
  @apply bg-[--color-status-danger] hover:bg-red-700 text-white;
}
@utility btn-success {
  @apply bg-[--color-status-success] hover:bg-emerald-700 text-white;
}

/* Estilos para el Inputs */
@utility sh-input-wrapper {
  @apply flex flex-col gap-1.5 w-full;
}
@utility sh-input-label {
  @apply text-sm font-medium text-slate-700;
}
@utility sh-input {
  @apply w-full px-3 py-2 border rounded-lg shadow-xs text-sm bg-white text-slate-950 focus:outline-hidden focus:ring-2 focus:ring-[--color-brand-primary]/20 focus:border-[--color-brand-primary] transition-all border-slate-200;
}
@utility sh-input-error {
  @apply border-[--color-status-danger] focus:ring-red-200 focus:border-[--color-status-danger];
}

/* Estilos para el contenedor base para tarjetas (Dashboard, Alertas, etc.) */
@utility sh-card {
  @apply bg-white border border-slate-100 rounded-xl p-6 shadow-xs;
}

/* Estilos para los estatus */
@utility badge-base {
  @apply px-2.5 py-1 text-xs font-semibold rounded-full border inline-block w-fit;
}
@utility badge-success {
  @apply bg-emerald-50 text-[--color-status-success] border-emerald-200;
}
@utility badge-warning {
  @apply bg-amber-50 text-[--color-status-warning] border-amber-200;
}
@utility badge-danger {
  @apply bg-red-50 text-[--color-status-danger] border-red-200;
}

/* Estilizado para contenido de tablas */
@utility sh-table-container {
  @apply w-full overflow-x-auto rounded-xl border border-slate-100 bg-white shadow-xs;
}
@utility sh-table {
  @apply w-full text-left text-sm text-slate-600 border-collapse;
}
@utility sh-thead {
  @apply bg-slate-50 text-xs font-semibold text-slate-700 uppercase border-b border-slate-100;
}
@utility sh-th {
  @apply px-6 py-4;
}
@utility sh-td {
  @apply px-6 py-4 border-b border-slate-100 align-middle;
}