DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_de_mysql
DB_NAME=SmarthHealth

JWT_SECRET=cambia_esto_por_algo_largo_y_aleatorio
JWT_EXPIRES_IN=8h

PORT=4000
CLIENT_ORIGIN=http://localhost:5173